.buttonPrimary{
    background: #000000;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.buttonPrimary:hover{
    background: var(--color-purple);
}
.buttonPrimary:not(:first-child){
    margin-left: 10px;
}
.buttonSecondary{
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #000;
    color: #000;
    padding: 10px;
    cursor: pointer;
}
.ml15{
    margin-left: 10px;
}