.wrapper {
    display: flex;
    height: 100px;
    align-items: center;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.logoTxt{
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}
.headerMenu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/*
.menuItem:not(:last-child) {
    padding-right: 70px;
} */
.menuLink {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}
.menuLink:hover {
    color: var(--color-purple);
}
.menuList{
    display: flex;
}
.menuItem:not(:first-child){
    margin-left: 64px;
}